.contactSection {
    width: 80%;
    margin: auto;
    padding: 20px;
  }
  
  .contactHeader {
    text-align: center;
    margin-bottom: 20px;
  
    h1 {
      font-size: 3rem;
    }
  }
  
  .contactContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .formContainer, .contactDetails {
    flex: 1 0 calc(40% - 20px);
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  }
  
  .contactDetails {
    h2 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  .sendButton {
    width: 150px;
    margin-top: 15px;
    padding: 0.75rem 1.5rem;
    background: linear-gradient(45deg, rgb(6, 1, 247), rgb(183, 0, 255));
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.18);
  
    &:hover {
      background: linear-gradient(45deg, rgb(4, 2, 170), rgb(130, 1, 180));
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.38);
    }
  }
  
  @media (max-width: 768px) {
    .formContainer, .contactDetails {
      flex: 1 0 calc(100% - 20px);
    }
  }
  