.navbar {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: relative;
  z-index: 1000;
  // padding: 15px;
  margin: auto;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.navbar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  margin: auto;
  
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Transparent black background */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */

  
}

.logo {
  flex: 1;
}

.navList {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 25px;
}

.navItem {
  margin-right: 2rem;
  margin-left: 2rem;
}

.navItem:last-child {
  margin-right: 0;
}

.navItem a {
  color: #d6d6d6;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navItem a:hover {
  color: #fa8705;
}

