.serviceSection {
    width: 80%;
    display: flex;
    flex-wrap: wrap; /* Allows services to wrap to the next line on smaller screens */
    justify-content: space-between;
    padding: 20px;
    margin: auto;
    text-align: center;
  }
  
  .sectionHeader {
    width: 100%;
    font-size: 3rem;
    margin-bottom: 40px;
    color: #fcc205; 
    z-index: 1000;
    h1{
      font-size: 3rem;
    }
  }
  
  .service {
    flex: 1 0 calc(29% - 10px); /* Adjust width for responsive design; subtracting margin */
    margin: 10px;
    padding: 20px;
   
    border-radius: 35px 0px 35px 0; 
    background-color: #ece0b8; 
    color: #333; /* Text color */
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    // box-shadow: 0 5px 15px rgba(0, 0, 0, 0.28);
    box-shadow: 0 0 20px rgba(243, 199, 3, 0.705), 0 0 50px rgba(243, 199, 3, 0.705), 0 0 100px rgba(243, 199, 3, 0.705);
  }
  
  .service:hover {
    color: #d8d7d7;
    transform: translateY(-5px); 
    background-color: #7e6103;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.51);
  }
  
  .service h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
   
  }
  
  .service p {
    line-height: 1.6;
  }
  
  .readMoreButton {
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background: linear-gradient(45deg, rgb(247, 1, 1), rgb(2, 203, 253)); 
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.18);
  }
  
  .readMoreButton:hover {
    background: linear-gradient(45deg, rgb(6, 1, 247), rgb(183, 0, 255));
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.38);
  }
  
  @media (max-width: 768px) {
    .service {
      flex: 1 0 calc(45% - 10px); 
      margin-bottom: 30px;
      margin: auto;
      p{
        font-size: 16px;
      }
    }
  }
  
  @media (max-width: 480px) {
    .service {
      flex: 1 0 calc(100% - 20px); 
      margin-bottom: 30px;
      margin-right: 20px;
      p{
        font-size: 16px;
      }
    }
  }
  