/* index.module.scss */

/* General styles for the entire page */
.pageContainer {
    margin: 50px 0; /* Adds top and bottom margin of 50px */
    padding: 0 20px; /* Example padding for content */
  }
  
  /* Styles for specific sections */
  .section {
    margin-bottom: 70px; /* Bottom margin for all sections */
  }
  
  .fullVideo {
    margin-bottom: 70px; /* Adjust margin as needed */
  }
  
  .about {
    margin-bottom: 70px; /* Adjust margin as needed */
  }
  
  .serviceSection {
    margin-bottom: 70px; /* Adjust margin as needed */
  }
  
  .photoGallery {
    margin-bottom: 70px; /* Adjust margin as needed */
  }
  